{% extends 'dashboard/base_dashboard.html' %}

{% block title %}User Management{% endblock %}
{% block dashboard_title %}Users Center{% endblock %}

{% block dashboard_content %}
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>User Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.get_full_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.get_user_type_display }}</td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="3">No users found.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
